<p style="text-align: center">NAME OF SKILL</p>


<!-- <div *ngFor ="let item of skill">
    <div *ngIf="!item.isedit">
        <table>
            <td>
              <div class="itemSkill">{{item.skill}}</div> [(ngModel)]="item.editskill" (click)="EditSkill(item)"-->
              <input type="text" id="name" name="fname"><br/><br/>
              <button mat-raised button class="save">SAVE</button>
              <button mat-raised button mat-dialog-close mat-dialog-close="false">CANCEL</button>
 <!--           </td>
        </table>
    </div>
  </div>-->